In [1]:
import geopandas as gpd
import fiona
fiona.supported_drivers

{'AeronavFAA': 'r',
 'ARCGEN': 'r',
 'BNA': 'raw',
 'DXF': 'raw',
 'CSV': 'raw',
 'OpenFileGDB': 'r',
 'ESRIJSON': 'r',
 'ESRI Shapefile': 'raw',
 'GeoJSON': 'rw',
 'GeoJSONSeq': 'rw',
 'GPKG': 'rw',
 'GML': 'raw',
 'GPX': 'raw',
 'GPSTrackMaker': 'raw',
 'Idrisi': 'r',
 'MapInfo File': 'raw',
 'DGN': 'raw',
 'PCIDSK': 'r',
 'S57': 'r',
 'SEGY': 'r',
 'SUA': 'r',
 'TopoJSON': 'r'}

In [14]:
shp= gpd.read_file(r"U:\mmp\uav\site_chips_2023\bhg\bhg.shp")

In [15]:
shp['uid']=shp['ID'].astype(int)

In [16]:
shp['uid']= 1

In [17]:
shp

,ID,X_MIN,X_MAX,Y_MIN,Y_MAX,geometry,uid
0,18,676020.0,676030.0,8594820.0,8594830.0,"POLYGON ((676020.000 8594830.000, 676030.000 8...",1
1,19,676030.0,676040.0,8594820.0,8594830.0,"POLYGON ((676030.000 8594830.000, 676040.000 8...",1
2,20,676040.0,676050.0,8594820.0,8594830.0,"POLYGON ((676040.000 8594830.000, 676050.000 8...",1
3,21,676050.0,676060.0,8594820.0,8594830.0,"POLYGON ((676050.000 8594830.000, 676060.000 8...",1
4,22,676060.0,676070.0,8594820.0,8594830.0,"POLYGON ((676060.000 8594830.000, 676070.000 8...",1
...,...,...,...,...,...,...,...
97,637,675970.0,675980.0,8594660.0,8594670.0,"POLYGON ((675970.000 8594670.000, 675980.000 8...",1
98,640,676000.0,676010.0,8594660.0,8594670.0,"POLYGON ((676000.000 8594670.000, 676010.000 8...",1
99,676,675970.0,675980.0,8594650.0,8594660.0,"POLYGON ((675970.000 8594660.000, 675980.000 8...",1
100,678,675990.0,676000.0,8594650.0,8594660.0,"POLYGON ((675990.000 8594660.000, 676000.000 8...",1
101,679,676000.0,676010.0,8594650.0,8594660.0,"POLYGON ((676000.000 8594660.000, 676010.000 8...",1

In [18]:
shp_boundary = shp[['uid']]

In [19]:
shp_regions = shp.dissolve(by='uid')

In [20]:
shp_regions.crs

<Projected CRS: EPSG:32752>
Name: WGS 84 / UTM zone 52S
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: World - S hemisphere - 126°E to 132°E - by country
- bounds: (126.0, -80.0, 132.0, 0.0)
Coordinate Operation:
- name: UTM zone 52S
- method: Transverse Mercator
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [21]:
#shp_regions.crs = (epsg: 32752)

In [22]:
shp_regions.to_file('Y:/PGB/Raster/uav/2023/bhg02/shp/bhg_extent.shp', driver='ESRI Shapefile')

In [23]:
#shp_regions

In [12]:
#shp= gpd.read_file("X:/PGB/Raster/uav/2022/era01_t/shp/era01_extent.shp", crs:"+proj=utm +zone=52 +south +datum=WGS84 +units=m +no_defs" )

In [13]:
#shp.crs